body, html{
    width: 100%;
    height: 100%;
    font-family: 'Bitter', Verdana, Geneva, Tahoma, sans-serif;
    background: url(../image/header.jpg)  no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
 
}


h1{
    margin-top: 28%;
    justify-content: center; 
    font-size: 3rem;
    color: #e2dbdb;
    text-transform: uppercase;
    text-align: center;
    margin-left: 15%;
}
hr{
color: orangered;
border: 20px;
border:  solid;
width: 10%;
margin: auto;
}
.buffer{
    height: 10rem;
}
.btn{
    align-items: center;
    margin: auto;
    
    
}
.btn-danger{
    width: 130px;
    border-radius: 300px;
    margin-bottom: 25%;
    align-items: center;
    margin-left: 20%;
    background-color: orangered ;
    
  
}
.btn-danger:hover{
width: 150px;
}

 


