*{
    margin:0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
}
h1{
    text-align: center;
    align-items: center;
    margin-top: 60px;

}
.cal{
    position: relative;
    width: 600px;
    height: 350px;
    border: 2px solid rgba(30, 29, 31, 0.5) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35%;
    margin-top: 30px
   
}
.but{
    margin: 10px;
    justify-content: space-between;
}
.btn1{
    margin-top: 230px;
}
button{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 20px;
    width: 100px;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;
    align-items: center;
}
select{
text-align: center;
 margin: 10px 10px;
 border-radius: 5px;
 width: 200px;
 height: 30px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: bolder;
}
input{
 text-align: center;
 margin: 10px 10px;
 border-radius: 5px;
 width: 200px;
 height: 30px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: bold;
}
td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}