:root{
    --primary: rgb(14, 122, 36);
    --dark: #333;
    --light:rgb(190, 42, 86);
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
    
}

html{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:var(--dark)
}

body{
    background: rgb(80, 80, 235);
    margin: 0;
    line-height: 1.4;
}

.container  h1{
    text-align: center;
}

.container{
    display: grid;
    grid-gap: 20px;
}

/*--Navigation*/
.main-nav ul{
    display: grid;
    grid-gap:20px;
    list-style: none;
    background: var(--primary);
    background-image: linear-gradient(rgb(19, 179, 19), rgb(103, 236, 103));
    grid-template-columns: repeat(4, 1fr);
    text-decoration: none;
    padding:30px;
    margin: 0;
    flex-direction: column;
    align-items: start;

}
.main-nav a{
    display: grid;
    text-decoration: none;
    color: #ddd;
    font-size: 25px;

}
.main-nav{
    margin:0;
}

.cover{
    
    min-height: 400px;
    background-color: var(--light);
    background-image: linear-gradient(rgb(224, 60, 123),rgb(206, 19, 28));
    background-size: cover;
    background-position: center;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    
    box-shadow: var(--shadow);
}
.cover h1{
color: #ddd;
text-align: center;

}
.box{
    align-items: center;
    justify-items: center;
    background: var(--dark);
    padding: 4rem;
    margin-bottom: 2rem;
    margin:10px;
    width: 250px;
    height: 400px;
    }
    
.boxes-1{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    align-items: center;
    margin-left: 150px ;
    width: 140px;
    
  
    
}
.boxes-2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    margin-left: 150px ;
    align-items: center;
    margin-top: 5px;
    width: 100px;
   

}
.box{
    display: grid;
    align-items: center;
    height: 100px;
    padding: 70px;
    
}



img{
    align-items: center;
    width: 100px;
    height: 100px;
  
    
}
/*Footer*/
footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
footer p{
    color: #ddd;
}

@media screen and (max-width:900px)
{
    body{
       
        line-height: 0.8;
    }
    .cover{
    
        min-height: 200px;
    }
    
    .main-nav ul{
        grid-template-columns: repeat(2, 1fr);
    }
    .box{
        
        padding: 1rem;
        margin-bottom: 0.5rem;
        margin:1.5px;
        width: 50px;
        height: 100px;
        }
        img{
            align-items: center;
            width: 50px;
            height: 50px;
          
            
        }

    .boxes-1{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .boxes-2{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    footer{
        margin-top: 1rem; 
        text-align: center;
        padding: 0.5rem;
        margin-bottom: 0;
    }
}
@media screen and (max-width:600px)
{

    body{
       
        line-height: 0.4;
    }
    .main-nav ul{
        grid-template-columns: repeat( 1fr);
    }
    .cover{
    
        min-height: 100px;
    }
    
    img{
        align-items: center;
        width: 25px;
        height: 25px;
      
        
    }

    .box{
        
        padding: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 25px;
        margin:1px;
        width: 70px;
        height: 50px;
        }

    .boxes-1{
        
        grid-template-columns: 1fr 1fr 1fr 1fr;
      
}
.boxes-2{
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

}