/* CSS Variables */
:root{
    --primary: #ddd;
    --dark: #333;
    --light:#fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8)
}

html{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:var(--dark)
}

body{
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    border: 1px;
    text-decoration: none;
}
img{
    max-width: 100%;
}

.wrapper{
    display:grid;
    grid-gap: 20px;
}
 

/*Navigation*/
.main-nav ul{
   display: grid;
   grid-gap: 20px;
   padding: 0;
   list-style: none;
   grid-template-columns: repeat(4, 1fr); /*same as grid-template-columns: 1fr 1fr 1fr 1fr; */
    
}
.main-nav a{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover{
    background:var(--dark);
    color:var(--light);
}

/* Top Container */
.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/* Showcase */
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url(/asset/img/image14.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);

}
.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}
.showcase p{
    font-size: 1.3rem;
    margin-bottom: 0;
    color: var(--light);
}

/*Top Box*/
.top-box{
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.top-box .price{
    font-size: 2.5rem;
}
.top-box-a{
    grid-area: top-box-a;
}
.top-box-b{
    grid-area: top-box-b;
}
/* Boxes */
 .boxes{
     display: grid;
     grid-gap: 20px;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }
 .box{
     background: var(--primary);
     text-align: center;
     padding: 1.5rem 2rem;
     box-shadow: var(--shadow);
     margin-bottom: 2rem;

 }

 /* Info */
 .info{
     background: var(--primary);
     box-shadow: var(--shadow);
     display: grid;
     grid-gap: 30px;
    grid-template-columns: repeat(2, 2fr);
    padding: 3rem;
    margin-bottom: 2rem;
    
 }

 /* Portfolio */
 .portfolio{
     display: grid;
     grid-gap: 20px;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     
 }

 .portfolio img{
     width: 100%;
     height: 100%;
     box-shadow: var(--shadow);
 }

 /* Footer*/

 footer{
     margin-top: 2rem;
     background: var(--dark);
     color: var(--light);
     text-align: center;
     padding: 1rem;
 }

 /*Media Queries*/
 @media (max-width: 700px) {
     .top-container {
         grid-template-areas: 
         'showcase showcase'
         'top-box-a top-box-b';
     }
     .showcase h1{
         font-size: 2.5rem;
     }
     .main-nav ul{
          grid-template-columns: 1fr;
     }
     .info{
         grid-template-columns: 1fr;
     }
     .info .btn{
         display: block;
         text-align: center;
         margin: auto;
     }
 }
 @media (max-width: 500px) {
    .top-container {
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b';
    }
}


h2{
    display: grid;
    text-align: center;
    margin: 50px auto;
    font-size: 2.5rem;
    font-family: arial;
    font-weight: 900;
    color: transparent;
    overflow: hidden;
    background: linear-gradient(45deg, black 30%, transparent 30%, transparent 70%, black 70%), linear-gradient(-45deg, black 30%, transparent 30%, transparent 70%, black 70%), linear-gradient(90deg, rgb(49, 46, 47) 30%, transparent 30%, transparent 70%, rgb(59, 56, 57) 70%)rgb(54, 53, 53);
    background-size: 20px 20px, 20px 20px, 1px 1px;
    background-position: 0 0, 0 0, 0 0;
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px white;
    filter: drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 1px black)drop-shadow(0 0 2px rgb(65, 52, 54));
    animation: bg-shift 1s ease-in-out infinite alternate-reverse, swing 2s ease-in-out infinite;
  }
  h2::before {
    position: absolute;
    background: linear-gradient(transparent 30%, white, transparent 70%);
    -webkit-background-clip: text;
    animation: bg-shift2 2s ease-in-out infinite alternate-reverse;
    -webkit-text-stroke: 2px rgb(10, 10, 10);
  }
  
  @keyframes bg-shift {
    from {
      background-position: 0 50px;
    }
  }
  
  @keyframes bg-shift2 {
    0% {
      background-position: 0 50px;
    }
  
    50% {
  
      background-position: 0 -50px;
  
    }
  
    100% {
      background-position: 0 50px;
    }
  }
  
  @keyframes swing {
    0% {
      transform-origin: top;
      transform: perspective(550px)rotatex(55deg);
    }
  
    50% {
      transform: perspective(550px)rotatex(-55deg);
    }
  
    100% {
      transform-origin: top;
      transform: perspective(550px)rotatex(55deg);
  
    }
  }
  