


@font-face {
    font-family: roboto;
    src: url(https://fonts.googleapis.com);
}




*{
  
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-size:100%; 
}

body{
    font-family: roboto;
    margin: 0;
    padding: 0;
   
}
img{
  max-width: 100%;
  height: auto;
}



header {
  height: 930px;
  color: #fff;
  background-image: url("../img/bg.png");
  background-position: bottom;
  background-size: cover;
  position: relative;
}

.heading, .header{
  background-repeat: no-repeat;
}

header{
  color: #fff;
}
.heading{
  display: flex;
align-items: center;
justify-content: space-between;
margin: 0 auto;
max-width: 1210px;
height: 156px;
background-image: url(../img/figma_white.png);
background-size: 168px 31px;
background-position: center;
}

.heading .menu-list{
display: flex;
margin: 0;
padding-left: 19px;
}

.heading .menu-list li {
  display: inline;
  padding: 10px;
}
.heading .menu-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  
}
.head1 {
  display: inline-block;
  margin-bottom: 0;
  font-size: 60px;
  line-height: 75px;
  text-align: center;
  max-width: 600px;
  position: relative;
  left: 35%;
  transform: translate(-5%,0);
  font-weight: bolder;
}
.head1-base {
  font-size: 20px;
  text-align: center;
  margin: 50px auto 0;
  line-height: 40px;
  max-width: 550px;
}
.try1{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-top: 150px;
  width: 263px;
  height: 65px;
  background-color: #2091f9;
  border-radius: 50px;
  position: relative;
  left: 43%;
 
}
.features {
  padding-top: 115px;
  padding-bottom: 60px;
}
.features .feat-head {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.features .feat-base {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  margin: 20px auto 0;
  max-width: 400px;
}
.mid-top{
  display: flex;
 align-items: center;
  justify-content: space-between;
  max-width: 869px;
  margin: 80px auto 0;
}
.mid-top .mid1{
      margin-left: 10px;
      margin-right: 10px;
    
}
.mid-top .mid1 img{
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
}
.mid-top .mid1 h3{
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  max-width: 200px;
  align-items: center;
  text-align: center;
  color: #000;
  margin: 20px auto 0;
}
.mid-top .mid1 h3:nth-child(2) {
  margin-top: 0;
}
.mid-top .mid1 p{
  text-align: center;
  margin: 20px 0 0;
  max-width: 200px;
}
.play img{
  margin-left: 20%;
  width: 1000px;
}

.fast {
  display: flex;
  max-width: 1243px;
  justify-content: left;
  margin: 0 auto;
  height: 500px;
  padding-top: 100px;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
}
.fast .fast1{
  width: 400px;
  height: 50%;
}

.fast .fast1 h2{
  font-size: 48px;
  line-height: 55px;
  max-width: 335px;
  margin: 0;
  font-weight: bolder;
} 

.fast .fast1 p{
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 0;
}

.fast .fast1 .try2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  width: 236px;
  height: 60px;
  border-radius: 50px;
  background-color: #2091f9;
  color: #fff;
  position: absolute;
  bottom: 10px;
}
.news{
 display: grid;
 margin-left: 25%;
 margin-top: 10%;
 grid-template-columns:repeat(2, 1fr) ;
}

   .news .newsimg{
       width: 630px;
   }

    
    .news .fing{
      list-style-type: none;
      font-weight: bolder;
    }
    .news h2{
      font-weight: bold;
    }
    .news .sub1{
      font-weight: bolder;
      height: 10px;
      margin: 10px 10px;
    }
    .news .type{
      width: 400px;
      height: 250px;
      margin-right: 5%;
    }
    .news input{
      border: 10px;
      border-color: rgb(90, 78, 65 .5);
      border-radius: 20px;
     padding: 10px;
     border-width: 10px;
     height: 13%;
     margin: 2px;
     width: 60%;
    }
    .news .sub{
      width: 100px;
      height: 40px;
      border: 5px;
      border-radius:20px;
      background-color: rgb(10, 84, 223) ;
      color: aliceblue;
      
    }
    .partners{
      display: flex;
      flex-direction: column;
      padding-top: 60px;
      padding-bottom: 50px;
      align-items: center;
    }
    .partners .part-head{
      font-size: 48px;
      font-weight: 400;
      margin: 0;
    }
    .partners .part-base{
      font-size: 20px;
      text-align: center;
      line-height: 40px;
      max-width: 400px;
      margin: 15px 0 80px;
    }
    .partners .part-row{
      display: flex;
      align-items: center;
      margin-top: 2px;
    }
    .part-row .part-uber img{
        width: 303px;
        height: 166px;
        border: 1px solid rgb(230, 215, 215);
    }
    .test .ui{
        display: block;
       margin:auto;
       text-align: center;

       
    }
    .ui img{
      
      align-items: left;
      border-radius: 100%;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
    .test .ui p{
      display: inline-block;
      text-align: center;
      padding-left: 5px;
      width: 100px;
      font-size: 12px;
    }
    .ui{
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      padding-bottom: 50px;
      align-items: center;
      justify-content: center;
      margin-left: 80px;
      padding-left: 10px;
    }
    .test{
      display: flex;
      flex-direction: column;
      padding-top: 100px;
      padding-bottom: 50px;
      align-items: center;
    }
    .test .test-head{
      margin: 0;
      font-size: 48px;
      font-weight: 400;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 50px;
      align-items: center;
    }
    .test .ui ibm{
        margin-top: 5%;
        width: 186px;
        height: 55px;
        padding-top: 100px;
        padding-bottom: 50px;
        align-items: center;
    }
    .test .test-base{
        margin-top: 5%;
      font-size: 20px;
      line-height: 40px;
      margin: 0;
      max-width: 720px;
      text-align: center;
      padding-top: 100px;
      padding-bottom: 50px;
      
    }
  .test .try3{
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      margin-top: 100px;
      width: 263px;
      height: 65px;
      background-color: #2091f9;
      border-radius: 50px;
      position: relative;
      left: auto;
    }

   .test-head .ibm{
      padding-top: 100px;
      padding-bottom: 50px;
      align-items: center;
    }

    .pricing{
      display: flex;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 50px;
      background-color: #252b42;
      color: #fff;
      flex-direction: column;
    }
    .pricing .price-head{
      font-size: 48px;
      font-weight: 400;
      margin: 0;
    }
    .pricing .price-base{
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 90px;
      max-width: 400px;
      text-align: center;
    }
    .price-cat{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 1030px;
    }

    .price-cat .free{
      width: 32.524%;
      height: 607px;
      background-color: #fff;
      color: #000;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      position: relative;
    }
    .price-cat .free .free-head{
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0;
    }
    .price-cat .free .free-base{
      font-size: 16px;
      max-width: 120px;
      text-align: center;
      margin: 0;
    }
    .price-cat .free .free-cost{
      font-size: 16px;
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .price-cat .free .free-cost span{
      font-size: 74px;
      font-weight: 700;
      margin-right: 5px;
    }
    .price-cat .free .free-cost::after{
      position: absolute;
      content: "$";
      font-size: 20px;
      font-weight: 700;
      left: 40px;
      top: 25px;
    }
    .price-cat .free .free-items{
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .price-cat .free .order{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 20px;
      text-decoration: none;
      bottom: 40px;
      width: 69.23%;
      height: 56px;
      border-radius: 50px;
      background-color: #2091f9;
      color: #fff;
    }


    .price-cat .standard{
      width: 32.524%;
      height: 693px;
      background-color: #2091f9;
      color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 80px;
      position: relative;
    }
    .price-cat .standard .standard-head{
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0;
    }
    .price-cat .standard .standard-base{
      font-size: 16px;
      max-width: 120px;
      text-align: center;
      margin: 0;
    }
    .price-cat .standard .standard-cost{
      font-size: 16px;
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .price-cat .standard .standard-cost span{
      font-size: 72px;
      font-weight: 700;
      margin-right: 5px;
    }
    .price-cat .standard .standard-cost::after{
      position: absolute;
      content: "$";
      font-size: 20px;
      font-weight: 700;
      left: 78px;
      top: 25px;
    }
    .price-cat .standard .standard-items{
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .price-cat .standard .order1{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 20px;
      text-decoration: none;
      bottom: 40px;
      width: 76.120%;
      height: 56px;
      border-radius: 50px;
      background-color: #fff;
      color: #2091f9;
    }
    .price-cat .business{
      width: 32.524%;
      height: 607px;
      background-color: #fff;
      color: #000;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      position: relative;
    }
    .price-cat .business .business-head{
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      margin: 0;
    }
    .price-cat .business .business-base{
      font-size: 16px;
      max-width: 120px;
      text-align: center;
      margin: 0;
    }
    .price-cat .business .business-cost{
      font-size: 16px;
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .price-cat .business .business-cost span{
      font-size: 74px;
      font-weight: 700;
      margin-right: 5px;
    }
    .price-cat .business .business-cost::after{
      position: absolute;
      content: "$";
      font-size: 20px;
      font-weight: 700;
      left: 79px;
      top: 25px;
    }
    .price-cat .business .business-items{
      font-size: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .price-cat .business .order{
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      font-size: 20px;
      text-decoration: none;
      bottom: 40px;
      width: 76.119%;
      height: 56px;
      border-radius: 50px;
      background-color: #2091f9;
      color: #fff;
    }
    .contact{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 100px;
      padding-bottom: 50px;
    }
    .contact .contact-head{
      margin: 0;
      font-size: 48px;
      font-weight: 400;
    }
    .contact .contact-base{
      font-size: 20px;
      line-height: 40px;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 50px;
      max-width: 400px;
    }
    .contact-area{
      display: flex;
      justify-content: space-between;
      height: 669px;
      align-items: center;
      width: 100%;
      max-width: 1228px;
    }
    .contact-area .contact-form{
      display: flex;
      justify-content: space-between;
      height: 669px;
      flex-direction: column;
      padding: 50px;
      width: 60%;
      max-width: 453px;
      border: 1px solid rgba(66,66,66,.219);
      border-radius: 20px;
      box-shadow: 10px 5px 30px 0 #ccc;
    }
    .contact-area .contact-form .con-head{
      font-weight: 700;
      font-size: 20px;
      margin: 0;
      text-align: center;
    }
    .contact-area .contact-form .con-name{
      height: 54px;
      border: 1px solid rgba(66,66,66,.219);
      border-radius: 50px;
      padding-left: 20px;
      background-color: rgb(236, 243, 243);
    }
    .contact-area .contact-form .con-email{
      height: 54px;
      border: 1px solid rgba(66,66,66,.219);
      border-radius: 50px;
      padding-left: 20px;
      background-color: rgb(236, 243, 243);
    }
    .contact-area .contact-form .con-message{
      height: 193px;
      border: 1px solid rgba(66,66,66,.219);
      padding-top: 20px;
      padding-left: 20px;
      resize: none;
      background-color: rgb(236, 243, 243);
    }
    .contact-area .contact-form button{
      font-size: 20px;
      width: 145px;
      height: 56px;
      border-radius: 50px;
      color: #fff;
      background-color: #2091f9;
      border: 0;
      cursor: pointer;
    }
    .contact-dir{
      width: 100%;
      max-width: 725px;
      height: 612px;
    }
    .contact-dir .contact-det{
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 109px;
    }
    .contact-dir .contact-det .contact-adr{
      max-width: 313px;
      height: 108px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contact-dir .contact-det .contact-adr p{
      text-align: center;
    }
    .contact-dir .contact-det .contact-tel{
      max-width: 245px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
    }
    .contact-dir .contact-det .contact-tel p{
      text-align: center;
      justify-content: center;
    }
    
    .contact-dir .contact-det .contact-mail{
      max-width: 167px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contact-dir .contact-det .contact-mail p{
      text-align: center;
      
    }
    .contact-map{
      width: 100%;
      height: 100%;
      max-width: 516px;
      max-height: 343px;
      display: block;
      margin: 60px auto;
    }
    .contact-social img{
      display: inline-block;
      width: auto;
      height: auto;
      margin-left: 5px;
      margin-right: 5px;
      justify-content: space-between;
    }

.footer{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-wrap: row wrap;
padding: 50px;
color:#fff;
background-color: #252b42;
justify-content: center;
height: 500px;
}

.left-area{
margin-right: 5em;
margin-left: 12em;

}
.left-area .mid-area .right-area p{
margin-top: 10px;
font-size: 3px;
}


.footer h3{
font-size:17px;
font-weight: 600;
color: #fff;


}



.mid-area{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
margin-left: 7em;
padding-left: 4rem;


}

.right-area{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
margin-left: 7em;
padding-left: 4rem;
}

.dir1{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
flex-direction: column;
margin-left: 7em;
padding-left: 4rem;
}
.dir1 img{
width: 21px;
height: 33px;
}
.dir1 .loc{
display: inline-flex;
padding-bottom: 5px;
}
.dir1 .loc p{
margin-left: 4px;
}

.dir1 .ph{
display: inline-flex;
padding: 5pxs;
}
.dir1 .ph p{
margin-left: 4px;
padding-left: 4px;
}
.dir1 .social1{
margin-top: 5px;
padding-top: 5px;
}

.dir1 .social1 img{
display: inline-flex;
justify-content: space-between;
margin-left: 4px;
}

@media screen and (max-width: 575px){
.heading {
  background-image:none
 }
 .menu{
  display: flex;
  background-color: transparent;
 }
 header::before {
  content:"";
  position:absolute;
  width:206px;
  height:78px;
  top:18px;
  left:26px;
  background-image:url(../img/dark.png);
  background-position:center;
  background-repeat:no-repeat;
  background-size:contain
 }
 header .head1,
 header .head1-base {
  margin-top:192px;
  font-size:48px;
  font-weight:400;
  line-height:55px;
  padding-left:20px;
  padding-right:20px
 }
 header .head1-base {
  font-size:28px;
  margin-top:30px;
  line-height:40px
 }
 header .head1 {
  margin-top:70px;
  width:236px;
  height:52px
 }
 
 .heading {
  flex-direction:column;
  background-color:#303950;
  width:100%;
  height:auto;
  position:absolute;
  z-index:300
 }
 .heading .menu-list {
  display:none;
  flex-direction:column;
  font-size:40px;
  padding-top:35px;
  padding-bottom:35px;
  padding-left:0
 }
 .heading .menu-list li {
  display:block;
  width:100%;
  padding:0
 }
 .heading .menu-list li .try1 {
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:25px;
  height:50px;
  margin:3px
 }
 .heading .menu-list li .try1:hover {
  font-size:20px;
  transition:0ms
 }
 .navigation .social-list-active {
  display:flex
 }
 .heading .social-list {
  display:none
 }
 .features__subtitle {
  padding-left:15px;
  padding-right:15px
 }
 .fast {
  flex-direction:column
 }
 .fast .h2 {
  width:100%;
  padding-right:15px;
  display:flex;
  flex-direction:column;
  align-items:center
 }
 .fast h2 {
  text-align:center;
  font-weight:400
 }
 .fastest h2 p {
  width:80%;
  text-align:center
 }
 .fastest h2 .fastest__link {
  bottom:0
 }
 .fast {
  width:100%;
  margin-top:50px;
  padding-left:13px;
  padding-right:13px
 }
 .partners .part-base {
  padding-left:15px;
  padding-right:15px
 }
 .partners .part-box{
  flex-wrap:wrap;
  justify-content:center
 }
 .partners .part-box .part-row:nth-child(2) {
  display:none
 }
 .pricing .price-base,
 .test .test-base {
  padding-left:15px;
  padding-right:15px
 }
 .pricing {
  padding-bottom:0
 }
 .price-cat {
  flex-direction:column;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:75px
 }
 .price-cat .business,
 .price-cat .free,
 .price-cat .standard {
  margin-top:25px;
  margin-bottom:25px;
  width:100%;
  max-width:335px;
  height:607px
 }
 .contact {
  height:auto
 }
 .contact .contact-base {
  padding-left:15px;
  padding-right:15px
 }
 .contact .contact-area {
  flex-direction:column-reverse;
  height:auto
 }
 .contact .contact-area .contact-form {
  width:100%
 }
 .contact .contact-area .contact-dir {
  display:flex;
  flex-direction:column-reverse;
  padding-left:0
 }
 .contact .contact-area .contact-dir .contact-social {
  display:flex;
  justify-content:center
 }
 .contact .contact-area .contact-dir .contact-social img {
  margin-left:12px;
  margin-right:12px
 }
 .contact .contact__cover .contact__row {
  height:auto;
  align-items:flex-start;
  margin-top:50px;
  margin-bottom:50px;
  padding-left:45px
 }
 .contact .contact-area .contact-dir .contact-mail,
 .contact .contact-area .contact-dir .contact-tel,
 .contact .contact-area .contact-dir .contact-adr {
  padding:0;
  display:flex;
  flex-direction:row;
  max-width:300px;
  position:relative
 }
 .contact .contact-area .contact-dir .contact-mail p,
 .contact .contact-area .contact-dir .contact-tel p,
 .contact .contact-area .contact-dir .contactadr p {
  text-align:start;
  margin-top:8px;
  margin-bottom:8px
 }
 .contact .contact-area .contact-dir .contact-mail img,
 .contact .contact-area .contact-dir .contact-tel img,
 .contact .contact-area .contact-dir .contact-adr svg {
  position:absolute;
  left:-35px
 }
 .contact-map {
  display:none
 }
 .left-area {
  flex-direction:column;
  height:100%!important;
  padding-bottom:30px
 }
}


@media screen and (max-width:700px) {
 .features {
  padding-top:80px;
  padding-bottom:8px;
 }
 .mid-top {
  flex-direction:column;
  align-items:center;
  margin-top:0
 }
 .mid-top .mid1 {
  margin-top:32px;
  margin-bottom:32px
 }
 .fast {
  padding-top:50px;
  height:auto
 }
 .fast .fast1 {
  height:357px;
  position:relative
 }
 .fast .fast1 .try2{
  position:absolute
 }
 .part-box {
  display:flex
 }
 .part-box .part-row {
  flex-direction:column
 }
 .contact-dir {
  height:100%
 }
 .contact-dir .contact-det {
  height:auto;
  display:flex;
  flex-direction:column;
  justify-content:space-around
 }
 .contact-dir .contact-det .contact-adr {
  width:100%
 }
 .contact-dir .contact-map {
  height:200px
 }
 .left-area .mid-area span,
 .footer__inner .ph p span .social1 {
  font-weight:400;
  font-size:15px
 }
}
}
@media screen and (max-width:575px) {
 header {
  position:relative;
  height:750px;
  background-image:url(../img/bg.png);
 }
}
@media screen and (max-width:1100px) {
 .contact-dir,
 .fast1 {
  padding-left:15px;
 }
 .price-cat {
  justify-content:space-around
 }
 .contact-area .contact-form {
  padding-left:15px;
  padding-right:15px;
 }
 .contact-adr {
  width:33%;
 }
}
@media screen and (max-width:1250px) {
 .contact-area {
  padding-left:15px;
  padding-right:15px;
 }
}
@media screen and (max-width:1100px) {
  .contact-dir,
  .fast1 {
   padding-left:15px
  }
  .price-cat {
   justify-content:space-around
  }
  .contact-area .contact-form {
   padding-left:15px;
   padding-right:15px
  }
  .contact-adr {
   width:33%
  }
 }
 @media screen and (max-width:790px) {
  .heading {
   background-image:none
  }
  .contact-dir .contact-det {
   height:150px
  }
  .contact-dir .contact-det .contact-adr {
   height:100%
  }
  .contact-dir .contact-adr {
   height:300px
  }
 }
 .container {
  width: 100%;
padding:0;
  margin: 0;
}

